#hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.rectangulo {
	background-color: green;
	height: 120px;
	width: 100%;
  }

  .img {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 600px;
	height: 100px;
  }

  .rec-pequeño{
	background-color: green;
	height: 50px;
	width: 60%;
	margin-left: 50px;
  }

.h1{
	color: #fff;
	margin-left: 20px;

}

.mini-menu {
  background-color: #f5f5f5;
  padding: 10px;
  width: 58%;
  margin-top: 0.8%;
  margin-left: 50px;
}

.mini-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.mini-menu li {
  margin-right: 20px;
}

.mini-menu li:last-child {
  margin-right: 0;
}

.mini-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.mini-menu a:hover {
  color: green;
}

.elemento {
	border-right: 1px dotted black;
	float: right;
	padding-right: 10px; /* opcional, para dejar un espacio entre el contenido y la línea */
  }

  .mini-menu-herramientas {
	background-color: #f5f5f5;
	padding: 10px;
	width: 60%;
	margin-top: 0.8%;
	margin-left: 30px;
  }

  .mini-menu-herramientas-ins {
	background-color: #f5f5f5;
	padding: 10px;
	width: 60%;
	margin-top: 0.8%;
	margin-left: 30px;
  }
	
  /*monitores*/

  /* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Estilos específicos */
#monitorForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

#monitorForm label {
  margin-right: 10px;
}

#monitorTable {
  margin-top: 20px;
}

#monitorTable th {
  text-align: left;
}

#monitorTable td:last-child {
  text-align: center;
}

#tablaCursos {
  margin-top: 20px;
  margin-left: 50px;
}

#tablaMonitores {
  margin-top: 20px;
  margin-left: 50px;
}

#cursoForm {
  width: 58%;
  margin-top: 20px;
  margin-left: 50px;
}

#monitorForm {
  width: 58%;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

#monitorForm label {
  margin-bottom: 5px;
}

#monitorForm input[type="text"] {
  margin-bottom: 10px;
}

#monitorForm {
  width: 58%;
  margin-top: 20px;
  margin-left: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

#cursoForm {
  width: 58%;
  margin-top: 20px;
  margin-left: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.boton-verde {
  background-color: green;
  border-radius: 5px;
}

